<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ConventionResolution</key>
        <dict>
            <key>position.x</key>
            <real>0</real>
            <key>position.y</key>
            <real>0.41397228637413397</real>
            <key>size.width</key>
            <real>0.3576702214930271</real>
            <key>size.height</key>
            <real>0.586027713625866</real>
        </dict>
        <key>EyewitnessAccounts</key>
        <dict>
            <key>position.x</key>
            <real>0.4975389663658737</real>
            <key>position.y</key>
            <real>0.4053117782909931</real>
            <key>size.width</key>
            <real>0.5024610336341263</real>
            <key>size.height</key>
            <real>0.5946882217090069</real>
        </dict>
        <key>LincolnsCorrespondence</key>
        <dict>
            <key>position.x</key>
            <real>0</real>
            <key>position.y</key>
            <real>0</real>
            <key>size.width</key>
            <real>0.39540607054963084</real>
            <key>size.height</key>
            <real>0.6177829099307159</real>
        </dict>
        <key>NewspaperReports</key>
        <dict>
            <key>position.x</key>
            <real>0.184577522559475</real>
            <key>position.y</key>
            <real>0</real>
            <key>size.width</key>
            <real>0.538966365873667</real>
            <key>size.height</key>
            <real>0.609122401847575</real>
        </dict>
        <key>NewspapersOpposedAntiSlavery</key>
        <dict>
            <key>position.x</key>
            <real>0.5254306808859721</real>
            <key>position.y</key>
            <real>0</real>
            <key>size.width</key>
            <real>0.4745693191140279</real>
            <key>size.height</key>
            <real>0.6247113163972287</real>
        </dict>
        <key>OtherLincolnSpeeches</key>
        <dict>
            <key>position.x</key>
            <real>0.1361771944216571</real>
            <key>position.y</key>
            <real>0.4035796766743649</real>
            <key>size.width</key>
            <real>0.5689089417555373</real>
            <key>size.height</key>
            <real>0.5964203233256351</real>
        </dict>
    </dict>
</plist>
